@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;

}

.navbar_left_image {
    position: absolute;
    top: 20px;
    margin-left: 90px;
    display: flex;
    width: 50px;
    height: 50px;
    background: url(img/Group\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar_right {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.navbar_right_img1 {
    height: 25px;
    width: 25px;
    margin-top: 25px;
}

.navbar_right_img2 {
    height: 25px;
    width: 25px;
    margin-top: 25px;
}

.navbar_right_text1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #FFFFFF;
    margin-top: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #156963;

}

.navbar_right_text2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    width: 111px;
    height: 36px;
    background: #156963;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.left {
    display: flex;
    position: absolute;
    width: 600px;
    height: 745px;
    top: 0;
    background: url(img/pexels-cottonbro-4503751\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 20px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    border: 2px #156963 solid;
    box-shadow: 10px 10px 20px #156963;

}

.header_right_text {
    display: flex;
    margin-top: 150px;
}

.header_r_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 83px;
    color: #156963;
}

.lorem100 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #2C1500;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.lorem {
    margin-top: 30px;
}

.group {
    margin-top: 50px;
    margin-left: 30px;
}

.dostavka {
    margin-top: 140px;
    border: 2px solid #156963;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 5px 10px 20px #156963;
    margin-bottom: 100px;
}

.hal {
    text-align: center;
    border: 2px solid #156963;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #156963;
    margin-bottom: 30px;
    margin-top: 30px;
}

.kaktus {
    border-bottom: 2px solid #156963;
    width: 193px;
}

.text2 {
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.text-small {
    font-family: 'Montserrat';
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

#we {
    height: 195px;
}